.error-container {
    background-color: rgba(37, 0, 57, 0.718);
    display: none;
}
.error-box{
    background-color: aliceblue; 
    padding: 50px 50px ;
    color: black;
    border-radius: 10px;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-btn {
    top: 20px;
    right: 20px;
    border: none;
    background-color: #6c00f8;
    background-color: rgb(67, 0, 94);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}