* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  height: 200vh;
}
body {
  font-weight: 400;
  background-color: #000000fb !important;
  color: #FFFFFF !important;
  overflow-x: hidden;
  font-family: sans-serif !important;
  position: relative;
}


/* ************************************************** */
