@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: logoFont;
  src: url(./assets/fonts/Movement.ttf);
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00a6ff, #01c0ce);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #017bbc, #0299a4);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
